/*add a padding when scroling*/
html {
    scroll-padding-top: 100px;
}
/*navbar*/
.navbar {
    text-align: center;
   
}

.navbar-brand {
    font-size: 40px;
}

.nav-link {
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}

@media(max-width:768px) {

    .nav-link {

        font-size: 20px;

    }

    .navbar-brand {
        font-size: 30px;
    }
}

.scl-icon {
    width: 50px;
}

@media(max-width:474px) {
    .navbar-brand {
        font-size: 20px;
    }

    .nav-link {

        font-size: 15px;

    }

    .scl-icon {
        width: 30px;
    }
}

.nav-link-active {
    color: #261772;
}

.nav-link:hover {
    color: #fff !important;
    background-color: #a5b1c2;
}
/*navbar*/
/*placeholder*/
#preloader{

    background: #fff url("../img/preloader.gif") no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;

}
/*placeholder*/
/*home*/
#main {
    background-attachment: fixed;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(rgba(71, 177, 204, 0.644), rgba(110, 92, 212, 0.644)), url('../img/scl.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.Welcome {
    font-size: 50px;
    position: relative;
    top: 30%;
    color: #000;
    font-weight: 800;
}

.text {
    font-size: 55px;
    background: linear-gradient(to right, #fff, #f8cdda);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*home*/
/*aboutus*/
#about-us {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

.content-about {
    color: #627597;
    font-size: 25px;
}

.break-line {

    position: relative;
    top: 50%;
}

.icon {

    font-size: 60px;
}

.num-cards {
    background: linear-gradient(to right, #141e30, #243b55);
    opacity: 0.8;
}

.bg {
    background: linear-gradient(to right, #2e78e7, #8E2DE2);

}

.com {
    color: rgba(156, 163, 175, );
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1;

}

.swiper-button-next,
.swiper-button-prev {

    position: relative;
    bottom: -10% !important;


}
/*aboutus*/
/*contatcus*/
iframe {
    width: 100%;
    height: 500px;
    border-radius: 15px;


}

.main {

    background-color: rgb(46, 43, 43);
    color: #fff;
    border-radius: 15px;


    position: relative;
    top: -80px;
    margin-top: 0px;
    padding-top: 0px;

}

#contact {
    margin: 50px;
    border-radius: 30px;

}

@media(max-width:1200px) {

    .form-main {

        float: none;
        width: 80%;
    }

    .map {
        width: 100%;
        float: none;
    }
}

@media(max-width:768px) {

    .form-main {

        padding-left: 0px !important;
        width: 100%;
    }

    .contact-img {

        width: 100% !important;
    }

}
/*contatcus*/
/*history*/
#history {
    background: linear-gradient(to right, #ece9e6, #ffffff);
}

.history-img {
    background-image: url("../img/old-paper.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
}

.history-text {

    font-size: 50px;
    position: relative;
    top: 30%;
    color: #000;
    font-weight: 800;
}

.text-h {
    font-size: 55px;
    background: -webkit-linear-gradient(-70deg, #EAB543 0%, #F8EFBA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*history*/