<!--footer-->
<footer class="footer text-center">
    <center>
        <hr class="w-75 mt-0">
    </center>
    <div class="content fs-5">@2022 St.Anthony's college</div>
    <div class="icons fs-5">
        <a href="https://www.facebook.com/antonianmediaunit/" target="_blank" rel="noopener noreferrer" class="text-dark"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/accounts/login/?next=/antonian_media_unit/" target="_blank" rel="noopener noreferrer"class="text-dark"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/c/AntonianMediaUnit" target="_blank" rel="noopener noreferrer"class="text-dark"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/mediaunitsack" target="_blank" rel="noopener noreferrer"class="text-dark"><i class="fab fa-twitter"></i></a>
</footer><br>
<!--footer-->