<header class="header">
    <nav class="navbar navbar-expand-md navbar-light bg-light bg-gradient p-4 fixed-top shadow-lg">
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="index.html"><img src="Assets/img/favicon.ico"
                    class="scl-icon">&nbsp;&nbsp;&nbsp;St.Anthony's college</a>
            <span class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <i class="fas fa-bars"></i>
            </span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"><br><br>
                    <li class="nav-item">
                        <a class="nav-link text-dark ms-4  text-md-center" aria-current="page"
                            href="index.html#Home">Home</a>
                    </li>
                    <li class="nav-item dropdown ms-4">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            AboutUs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="index.html#about-scl">About Our School</a></li>
                            <li><a class="dropdown-item" href="index.html#latest-news">Latest News</a></li>

                        </ul>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link text-dark text-md-center" href="index.html#contact">Contact</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link text-dark text-md-center" href="History.html">History</a>
                    </li>
                    <br><br>
                </ul>
            </div>
        </div>
    </nav>
</header>